* {
    box-sizing: border-box;
}
  

body {
  margin: 0 auto;
  max-width: 1200px;
}
  
.song-title {
  background-color : lightblue;
  border: 2px solid black;
  border-bottom: none;
  height: 9vh;
  font-family: fantasy;
  
  h1 {

    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
  }
}


.lyrics {
  background-color: lightgreen;
  border: 2px solid black;
  height: 91vh;
  text-align: center;
  font-family: sans-serif;
  
  p {
    padding: 15px 0;
    padding-left: 38%;


    line-height: 19px;
    text-align: justify;
  }
}
  
.test {
 color: red;
 font-size: 120px;
 font-weight: 311px;
 text-transform: lowercase;
}


  